.wrapper {
	background-color: var(--bg2);
	max-width: 50%;
	word-break: break-all;
	margin-bottom: 20px;
	padding: 10px 18px;
	border-radius: var(--br);
	&:last-child {
		margin-bottom: 16px;
	}
	&.mine {
		background-color: var(--mainBg);
	}
}