.wrapper {
	height: 100%;
	min-width: 300px;
	max-width: 600px;
	resize: horizontal;
	overflow-x: auto;
	border-right: 1px solid var(--additional);
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
}