.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 58px);
	.title {
		margin-bottom: 40px;
		font-size: var(--fsz28);
		border-bottom: 2px solid var(--firstDark);
		padding: 1px 16px;
	}
	.inputs {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		position: relative;
		.error {
			position: absolute;
			bottom: -20px;
			text-align: center;
			width: 100%;
			left: 0;
			color: var(--mainDark);
			border-bottom: 1px solid var(--mainDark);
			padding: 5px;
		}
	}
}