.wrapper {
	height: 58px;
	width: 100%;
	background-color: var(--bg2);
	color: var(--firstDark);
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid var(--color2);
	.container {
		width: 60%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.logo {
			user-select: none;
			padding: 1px 10px;
			font-size: var(--fsz18);
			transition: 0.1s;
			border-radius: 2px;
		}
	}
}