.wrapper {
	display: flex;
	align-items: flex-end;
	& .input {
		width: 100%;
		height: auto;
		max-height: 140px;
		background-color: var(--bg2);
		color: var(--color1);
		font-size: var(--fsz16);
		padding: 15px 30px;
		overflow: hidden;
		resize: none;
	}
}