.input {
	width: 100%;
	height: auto;
	min-height: 80px;
	max-height: 140px;
	background-color: var(--bg2);
	color: var(--color1);
	font-size: var(--fsz16);
	padding: 10px 14px;
	overflow: hidden;
	resize: none;

}