.wrapper {
	display: flex;
	align-items: flex-end;
	position: relative;
	& .input {
		width: 100%;
		height: auto;
		max-height: 140px;
		background-color: var(--bg2);
		color: var(--color1);
		font-size: var(--fsz16);
		padding: 15px 130px 15px 30px;
		overflow: hidden;
		resize: none;
	}
	& .button {
		position: absolute;
		right: 0;
		padding: 12px 30px;
		bottom: 0px;
	}
}