.input {
	width: 450px;
	font-size: var(--fsz18);
	padding: 8px 12px;
	background-color: var(--firstLight);
	border: 2px solid var(--additional);
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0px;
	}
	&:hover, &:focus {
		border-color: var(--secondDark);
	}
}
