.input {
	width: 450px;
	font-size: var(--fsz18);
	padding: 4px;
	background-color: var(--firstLight);
	border-bottom: 2px solid var(--additional);
	transition: 0.1s;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0px;
	}
	&:focus {
		border-color: var(--mainLight);
	}
}